/* General Styles */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    background-image: url(../assets/img/KIM_0192.jpg);
    background-position: right top;
    background-size: 300%;
    color: #000000;
}

/* Header Section */
.header {
    
    background-position: top;
    color: rgb(0, 0, 0);
    padding: 1px;
    text-align: center;
    font-size: 200%;
    margin-bottom: -19px;

}

/* Navigation */
.nav {
    background: #ffffff;
    margin: 20px auto;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-align: center;
    border-radius: 30px;
    max-width: 1350px;
    align-content: center;
}

.nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}




/* Style for the wrapper */
.content{
    color: white;
    margin: 20px auto; /* Space around the entire box */
    border: #000000 5px;
    max-width: 1350px;
    align-content: center;
    background-color: white; /* White background */
    padding: 20px; /* Padding inside the box */
    border-radius: 30px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    
}


.text-image-wrapper {
    display: flex; /* Flexbox layout for side-by-side elements */
    align-items: center; /* Vertically center the content */
}

/* Style for the text */
.text {
    color: black;
    flex: 1; /* Allows the text to take up available space */
    margin-right: 20px; /* Adds space between the text and the image */
    text-align: center;
    font-size: 150%;
}

/* Style for the image */
.image img {
    max-width: 100%; /* Makes the image responsive */
    height: auto; /* Maintains aspect ratio */
    max-width: 400px; /* Optional: set maximum width for the image */
    border-radius: 30px;
}



/* Style for the wrapper */
.list{
    color: white;
    margin: 20px auto; /* Space around the entire box */
    max-width: 1350px;
    align-content: center;
    background-color: white; /* White background */
    padding: 20px; /* Padding inside the box */
    border-radius: 30px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    
}

.noimage {
    display: flex; /* Flexbox layout for side-by-side elements */
    align-items: center; /* Vertically center the content */
}

/* Style for the text */
.text2 {
    color: black;
    flex: 1; /* Allows the text to take up available space */
    margin-left: 100px; /* Adds space between the text and the image */
    text-align: left;
    font-size: 150%;
    font-weight: bold;
}

/* Style for the image */
.image2 img {
    max-width: auto; /* Makes the image responsive */
    height: 400px; /* Maintains aspect ratio */
    max-width: 900px; /* Optional: set maximum width for the image */
    border-radius: 30px;
}




/* Style for the wrapper */
.content3{
    color: white;
    margin: 20px auto; /* Space around the entire box */
    border: #000000 5px;
    max-width: 1350px;
    align-content: center;
    background-color: white; /* White background */
    padding: 20px; /* Padding inside the box */
    border-radius: 30px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    
}


.text-image-wrapper3 {
    display: flex; /* Flexbox layout for side-by-side elements */
    align-items: center; /* Vertically center the content */
}

/* Style for the text */
.text3 {
    color: black;
    flex: 1; /* Allows the text to take up available space */
    margin-right: 20px; /* Adds space between the text and the image */
    text-align: center;
    font-size: 200%;
    border-radius: 30px;
}

/* Style for the image */
.image3 img {
    max-width: 100%; /* Makes the image responsive */
    height: auto; /* Maintains aspect ratio */
    max-width: 400px; /* Optional: set maximum width for the image */
    border-radius: 30px;
}




.content4{
    color: white;
    margin: 20px auto; /* Space around the entire box */
    border: #000000 5px;
    max-width: 1350px;
    align-content: center;
    background-color: white; /* White background */
    padding: 20px; /* Padding inside the box */
    border-radius: 30px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-bottom: 20px;
}







/* Video Section */
.video-section {
    margin: 20px;
    color: white;
}

/* Graph Section */
#graph {
    text-align: center;
    padding: 20px;
}

/* Footer Section */
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


/* Default link color */
a.back-to-top {
    color:aliceblue; /* Set the color to your desired color */
    text-decoration: none; /* Removes the underline from the link */
}

/* Hover color */
a.back-to-top:hover {
    color: #dcdce8; /* Change the color on hover */
}
